<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="myConnectionString" connectionString="Data Source=(local);Initial Catalog=grievance_system;Integrated Security=True;uid=sa;password=admin123;" />
  </connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
    <sessionState timeout="200" mode="InProc"></sessionState>
	</system.web>
</configuration>